@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
    --primary-color: #191919;
    --secondary-color: #303030;
    --tertiary-color: #2c2c2c;
    --shadow-color: #0a0a0a;
    --text-color: #e5e2df;
    --link-color: #d9e5e4;
}

[data-theme="light"] {
    --primary-color: #e5e2df;
    --secondary-color: #d9e5e4;
    --tertiary-color: #c5e9e6;
    --shadow-color: #454545;
    --text-color: #191919;
    --link-color: #343434;
}

*{
    transition-duration: 0.25s;
    font-family: "Josefin Sans", sans-serif;
    color: var(--text-color);
  }

body {
    background-color: var(--primary-color);
    margin: 1rem;
    margin-bottom: 10rem !important;
}

a {
    text-decoration: none;
}

.content {
    margin: 2rem;
}

.link, a, i {
    color: var(--link-color);
}

@media screen and (max-width: 720px) {
    body {
        margin: 0rem;
    }
}